# ignore everything
*

# JUST PROYECT
!main.py
!mainwindow.py
!main_window_ui.py
!analyzer.py
!checkpoint.py
# example
!example/
!example/**/
!example/first.png
!example/closing.png
!example/restart_question.png
!example/restart_yes_interface.png
!example/restart_no_interface.png

# example
!dist/
!dist/**/
!dist/main.exe
# --
!.gitignore
!README.md
