# ignore everything
*

# JUST PROYECT
!main.py
!mainwindow.py
!main_window_ui.py
!analyzer.py
!checkpoint.py
# example
!example/
!example/**/
!example/screenshot.png
!example/screenshot_0.png
# --
!.gitignore
!README.md
