# ignore everything
*

# JUST PROYECT
!main.py
!mainwindow.py
!main_window_ui.py
!analyzer.py

# example
!example/
!examples/**/
!examples/screenshot.png
!examples/screenshot_0.png
# --
!.gitignore
!README.md
